<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ScanPower">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.ScanPower.Utils.App"
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PowerActivity"
        android:usesCleartextTraffic="true"><!--
        <activity
            android:name="com.example.poweractivity.activities.ProductDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true" />
        <activity
            android:name="com.example.poweractivity.activities.ViewCategoryActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PowerActivity.NoActionBar" />-->
        <activity
            android:name="com.example.ScanPower.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ScanPower.activities.SignupActivity"
            android:exported="true" />
        <activity
            android:name="com.example.ScanPower.activities.ProductsActivity"
            android:theme="@style/Theme.PowerActivity.NoActionBar"
            android:exported="true" />
        <activity
            android:name="com.example.ScanPower.activities.ItemDetailActivity"
            android:theme="@style/Theme.PowerActivity.NoActionBar"
            android:exported="true" />
        <activity
            android:name="com.example.ScanPower.activities.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.PowerActivity.NoActionBar" />
        <activity
            android:name="com.example.ScanPower.activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>